@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Open+Sans:wght@300;700&display=swap');

* {
    font-family: 'Fredoka', sans-serif;
}

::-webkit-scrollbar {
    width: .6rem;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: white;
    margin: .4rem 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #20ad96;
}

::-webkit-scrollbar-thumb:hover {
    background: #20ad96;
}